//@for $i from 0 through 600 {
//    .w#{$i} {
//        width: 1px * $i;
//    }
//    .wm#{$i} {
//        min-width: 1px * $i;
//    }
//    .wx#{$i} {
//        max-width: 1px * $i;
//    }
//}

.sf-dump {
    z-index: 10000000 !important;
}
.sf-toolbarreset {
    bottom: -13px!important;
}
.sf-toolbarreset:hover {
    bottom: 0!important;
}

.bootstrap-datetimepicker-widget * {
    border: 0 !important;
}

.cke_reset_all,.cke_reset_all *,.cke_reset_all a,.cke_reset_all textarea {
    font-family: "Roboto", sans-serif !important;
}
