$namespace: apl-admin-toolbar;
$height: 46px;
$item-hover-color: #fff;
.apl-admin-toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: block;
  padding-top: 2px;
  &-item {
    display: block;
    float: right;
    height: $height;
    overflow: hidden;
    //color: #afb1b3;
    color: #fff;
    border: 1px transparent solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
  }
  &-item:hover {
    border-color: #757B80;
    background-color: #464A4D;
    color: $item-hover-color;
  }
  &-icons {
    display: block;
    overflow: hidden;
    height: 24px;
    width: auto;
    position: relative;
  }
  &-icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: 32px;
    text-align: center;
    line-height: 31px;
    font-size: 18px;
  }
  &-text {
    display: block;
    overflow: hidden;
    height: 18px;
    width: auto;
    line-height: 17px;
    font-size: 11px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: $item-hover-color;
  }
}
